/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.form-select {
    color: #44223C;
    border-color: #44223C;
}

.form-select option {
    color: #595959;
}
.form-control::placeholder {
    color: black;
    opacity:.75;
}

#site-search::placeholder{
    color: #212529;
    font-size:18px;
    opacity: .75;
}

#filterTextBox::placeholder {
    color:#545454;

}

.form-control {
    border-color: #44223C;
}

.btn-lghtmain {
    border-top-color: #44223C;
    border-bottom-color: #44223C;
    border-left-color: #44223C;
}

.btn-light,.btn-light:hover {
    background-image: linear-gradient(white,#fff 6%,#f0f0f0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #dedede;
    color: #000;
}

a:hover {
    color: #44223C;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #BB1D25;
}

.page-item .page-link {
    color: #325854;
}

.page-item .page-link:hover{
    color: white;
    background-color: #BB1D25;
    border-color: #2d762f;
}

.page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: #FFBA27;
    border-color: #2d762f;
}
#footer-logo{
    text-decoration: none;
}
thead {
    border-top: none; 
}
.table>:not(:first-child) {
    border-top:0px;
}