/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.form-select {
    color: #512848;
    border-color: #512848;
}

.form-select option {
    color: #595959;
}
.form-control::placeholder {
    color: black;
    opacity:.5;
}

#site-search::placeholder{
    color: #212529;
    font-size:18px;
    opacity: .75;
}

#filterTextBox::placeholder {
    color:#545454;

}

.form-control {
    border-color: #512848;
}


.btn-secondary {
    border-top-color: #512848;
    border-bottom-color: #512848;
    border-left-color: #512848;
}

.btn-light,.btn-light:hover {
    background-image: linear-gradient(white,#fff 6%,#f0f0f0);
    -webkit-filter: none;
    filter: none;
    border: 1px solid #dedede;
    color: #000;
}

.btn-primary {
        background-color: #67aea6;
}

a:hover {
    color: #522848;
}
